
@import '../../../assets/styles/common.scss';
/* Extra small devices (phones, 600px and down) */

body{
    overflow: hidden;
}
@media only screen and (max-width: 767px) {
    .bg-image-d{
        min-height: 100vh;
        background-image: url('./../../../assets/destination/background-destination-mobile.jpg');
        @include bgImage();
    }

}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {

// }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .bg-image-d{
        background-image: url('./../../../assets/destination/background-destination-desktop.jpg');
        @include bgImage();
    }
     // Destination min Nav-bar
    .nav-destination{
        // background-color: aqua;
        
        .nav-right-d{
            // background-color: black;
            padding-left: 2em;
            display: flex;
            height: 2em;


            .d-nav-link{
                font-family: Barlow Condensed;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 2.7px;
                margin-right: 1.2em;
                color: #FFFFFF;
                text-transform: uppercase;

                &:hover{
                    border-bottom: 1px solid #fff;
                }

            }
            .active{
                border-bottom: 1px solid #fff;
            }
        }

    }
    .grid-container-d{
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 70vh !important;
        // background-color: red;
        padding-top: 0em !important;
       

        .grid-container-left-d{
            // background-color: aqua;
            @include flex_model(2);
            padding-top: 0.3em;
            .planet-image-holder{
                img{
                    width: 400px;
                    height: 400px;
                }
            }
        }
        .grid-container-right-d{

        }
    }
    .title-destination{
        // margin-top: 6em;
        padding-top: 6em;
        padding-bottom: 1em;
        padding-left: 4em;
        // background-color: red;
        color: white;

        .destination-number{
            padding-right: 7px;
            font-weight: 900;
            font-family: Barlow Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 24px;
            /* identical to box height */

            letter-spacing: 3.375px;

            color: #FFFFFF;

            mix-blend-mode: normal;
            opacity: 0.25
        }
    }
   
    .destination-details-title{
        font-family: Bellefair;
        font-style: normal;
        font-weight: normal;
        font-size: 100px;
        line-height: 115px;
        color: #fff;
        padding-left:0.2em;
        padding-top: 0.3em;
        padding-bottom: 0.1em;
        text-transform: uppercase;
    }
    .destination-details-para{
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: white;
        max-width: 420px;
        margin-left: 1.2em;
        padding-bottom: 1.5em;
        border-bottom: 1px solid rgba(230, 225, 225, 0.658);
    }
    .destination-details-stats{
        @include grid_layer(2);
        color: #fff;
        margin-top: 1.5em;
        padding-left: 1.2em;

        .destination-details-distance-word,
        .destination-details-time-word{
            font-family: Barlow Condensed;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 2.3625px;
            text-transform: uppercase;
            color: #D0D6F9;
            margin-bottom: 0.4em;

        }
        .destination-details-distance-num,
        .destination-details-time-num{
            font-family: Bellefair;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 32px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-top: 0.3em;
        }
    }
   

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}